
<div class='masthead'>
    <ul>
    <nav class="language-nav">
      <a href="">CSS</a>
      <a href="">HTML</a>
      <a href="">JAVASCRIPT</a>
      <a href="">RUBY</a>
    </ul>
  </nav>



<img src="assets/AA_Times_Logo.png" class='logo'>




  <ul class="masthead-links">
    
      <li><time>Tuesday, October 18, 2016</time></li> 
      <li><a href="">Today’s Paper</a></li>
      <li><a href="">Video</a></li>
      <li><button type ="button">77°F</button></li> 
      <li><button type ="button">AAO <strong>+100%</strong></button></li> 
      
    
  </ul>

</div>