<div class="sections-nav">
<ul>
  <button>World</button>
  <button>San Francisco</button>
  <button>New York</button>
  <button>Bootcamp Prep</button>
  <button>Jumpstart</button>
  <button>Online</button>
  <button>Marketing</button>
  <button>Sales</button>
  <button>TalentMatch</button>
  <button>Alumni</button>
  <a href="">ALL</a>
</ul>

</div>